
/* 把内外边距清零 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* 斜体文字不倾斜 */
em,
i {
    font-style: normal
}
/* 去掉里得远点 */
li {
    list-style: none
}
/* border照顾兼容性 */
img {
    border: 0;
    /* 取消图片底册空白 */
    vertical-align: middle
}

button {
    /* 鼠标样式变成小手 */
    cursor: pointer
}
 
a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #c81623
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
   /* 默认灰色边框我们手动去掉 */
    border: 0;
    outline: none;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666
}

.hide,
.none {
    display: none
}
/* 清楚浮动 */
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}